:host {
    --sds-c-input-sizing-height: 2.25rem;
    --sds-c-button-neutral-color-background: #0070d2;
    --sds-c-button-neutral-text-color: #fff;
}

.slds-box {
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.slds-input {
    border-radius: 0.25rem;
    border: 1px solid #d8dce6;
}

.slds-input:focus {
    border-color: #0070d2;
    box-shadow: 0 0 0 3px rgba(0, 112, 210, 0.1);
}

.slds-align_absolute-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
